header {
    display: flex;
    justify-content: space-between;
}

.highscores {
    font-size: larger;
    font-weight: 700;
}

.timer {
    font-size: larger;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: center;
}

.quizBegin {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}